# PANDAS SERIES AND DATAFRAMES
##Series
# 1. Form of sequentially one dimensional arrays
# 2. All elements one data type
# 3. Can be created from lists, tuples and arrays

In [ ]:
# import pandas as pd

In [2]:
pd.Series(["M","F","M","M","F"])

0    M
1    F
2    M
3    M
4    F
dtype: object

In [3]:
import numpy as np

In [6]:
pd.Series(np.array(["M","F","M","M","F"]))

0    M
1    F
2    M
3    M
4    F
dtype: object

In [7]:
gen=pd.Series(np.array(["M","F","M","M","F"]))

In [8]:
type(gen)

pandas.core.series.Series

In [13]:
dic={"a":1,"b":2,3:"c",4:15}
dic_1=pd.Series(dic)

In [14]:
type(dic_1)

pandas.core.series.Series

In [15]:
dic_1.index

Index(['a', 'b', 3, 4], dtype='object')

In [16]:
dic_1.values

array([1, 2, 'c', 15], dtype=object)

In [21]:
list_1=["2023-01-24",17.26,"Latha",1000,True]
ser=pd.Series(list_1)

In [22]:
ser

0    2023-01-24
1         17.26
2         Latha
3          1000
4          True
dtype: object

In [24]:
ser.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
df=pd.DataFrame({"Name":["Laksh","Pritee","Ishita"],"Age":[12,24,26],"Gender":["Male","Female","female"]})
df

     Name  Age  Gender
0   Laksh   12    Male
1  Pritee   24  Female
2  Ishita   26  female

In [32]:
type(df["Age"])

pandas.core.series.Series

In [33]:
df["Age"][0]

12

In [34]:
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [35]:
df[0]

KeyError: 0

In [44]:
df["Name"][1]

'Pritee'

In [47]:
ser1=pd.Series([0,1,2,3,4],index=[0,1,2,1,2])
ser2=pd.Series([0,1,2,3,4],index=[1,2,3,4,5])

In [49]:
ser1

0    0
1    1
2    2
1    3
2    4
dtype: int64

In [53]:
ser1.mean()

2.0

In [52]:
ser2.sum()

10

In [54]:
ser2.median()

2.0

In [51]:
ser2+ser1

0    NaN
1    1.0
1    3.0
2    3.0
2    5.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [55]:
ser1.max()

4

In [56]:
ser2.std()

1.5811388300841898

In [57]:
ser3=pd.Series([16,17,18],name="sweetie")

In [58]:
plus_10=lambda x:x+10

In [59]:
plus_10(5)

15

In [60]:
ser3.apply(lambda x:x/10)

0    1.6
1    1.7
2    1.8
Name: sweetie, dtype: float64